{% extends 'shop_managing_base.html' %}
{% block title %}Panel{% endblock title %}
{% block css_class_active_panel %}active{% endblock css_class_active_panel %}

{% block body %}
    <div id="container">
        <div class="shell">
            <!-- Small Nav -->
            <div class="small-nav"><a href="#">Dashboard</a> <span>&gt;</span> Current Articles</div>
            <!-- End Small Nav -->
            <!-- Message OK -->
            <div class="msg msg-ok">
                <p><strong>Your file was uploaded succesifully!</strong></p>
                <a href="#" class="close">close</a></div>
            <!-- End Message OK -->
            <!-- Message Error -->
            <div class="msg msg-error">
                <p><strong>You must select a file to upload first!</strong></p>
                <a href="#" class="close">close</a></div>
            <!-- End Message Error -->
            <br/>
            <!-- Main -->
            <div id="main">
                <div class="cl">&nbsp;</div>
                <!-- Content -->
                <div id="content">
                    <!-- Box -->
                    <div class="box">
                        <!-- Box Head -->
                        <div class="box-head">
                            <h2 class="left">Accepted Shops</h2>
                            <div class="right">
                                <label>search shops</label>
                                <input type="text" class="field small-field"/>
                                <input type="submit" class="button" value="search"/>
                            </div>
                        </div>
                        <!-- End Box Head -->
                        <!-- Table -->
                        <div class="table">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th width="110" class="ac">Content Control</th>
                                </tr>
                                {% for shop in shops %}
                                    <tr>
                                        <!--<td><input type="checkbox" class="checkbox" /></td>-->
                                        <td><h3><a href="{% url 'shop_page' slug=shop.slug %}">{{ shop.name }}</a></h3>
                                        </td>
                                        <td>{{ shop.create_time }}</td>
                                        <td><a href="#">{{ shop.type }}</a></td>
                                        <td><a href="{% url 'delete_shop' slug=shop.slug %}"
                                               class="ico del">Delete</a><a href="{% url 'edit_shop' slug=shop.slug %}"
                                                                            class="ico edit">Edit</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <!-- Pagging
                            <div class="pagging">
                              <div class="left">Showing 1-12 of 44</div>
                              <div class="right"> <a href="#">Previous</a> <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">245</a> <span>...</span> <a href="#">Next</a> <a href="#">View all</a> </div>
                            </div>
                             End Pagging -->
                        </div>
                    </div>
                </div>
                <!-- End Content -->
                <!-- Sidebar -->
                <div id="sidebar">
                    <!-- Box -->
                    <div class="box">
                        <!-- Box Head -->
                        <div class="box-head">
                            <h2>Management</h2>
                        </div>
                        <!-- End Box Head-->
                        <div class="box-content"><a href="{% url 'create_shop' %}"
                                                    class="add-button"><span>Add new Shop</span></a>
                            {#                            <button href="{% url 'render_charts' %}">see chart</button>#}
                            <!-- Sort -->
                            <div class="sort">
                                <label>Sort by</label>
                                <select class="field">
                                    <option value="">Title</option>
                                </select>
                                <select class="field">
                                    <option value="">Date</option>
                                </select>
                                <select class="field">
                                    <option value="">Author</option>
                                </select>
                            </div>
                            <div class="box-content"><a href="{% url 'render_charts' %}" class="button"><span>See Shop Report Chart</span></a>
                            </div>
                            <div class="box-content"><a href="{% url 'customers_information' %}" class="button"><span>See Customers Information</span></a>
                            </div>
                            <!-- End Sort -->
                        </div>
                    </div>
                    <!-- End Box -->
                </div>
                <!-- End Sidebar -->
                <div class="cl">&nbsp;</div>
            </div>
            <!-- Main -->
        </div>
    </div>
{% endblock body %}