{% extends 'base.html' %}
{% block title %}
     add category
{% endblock title %}
{% block content %}
        <div class="container">
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2 text-center" dir="ltr" id="msg" role="alert">
        {{ message }}
        </div>
    {% endfor %}
{% endif %}
            <div class="col-md-9 my-3">
                <form action="{% url 'add_category'  %}" method="POST">
                    {% csrf_token %}
                    {{form.name}}
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-primary" type="submit" value="add category">
                    </div>
                </form>
            </div>
        </div>
{% endblock content %}