{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
     add category
{% endblock title %}
{% block content %}
        <div class="container">
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2 text-center" dir="ltr" id="msg" role="alert">
        {{ message }}
        </div>
    {% endfor %}
{% endif %}
            <div class="col-md-9 my-3">
                <form action="{% url 'add_category'  %}" method="POST">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-warning">Category Name</label>
                          <br>
                          <div class="col-md-8">{{ form.name|attr:"placeholder:Category Name"|add_class:"form-control-lg" }}</div>
                      </div>
                    {% csrf_token %}

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-primary btn-sm col-md-5" type="submit" value="add category">
                    </div>
                </form>
            </div>
        </div>
{% endblock content %}