{% extends 'base.html' %}
{% block title %}
{{category.name}} details
{% endblock title %}
{% block content%}
<section class="wrapper">
    <div class="container-fostrap">
        <div>
            </div>
                <div class="content">
                    <div class="container">
                    <h1 class="bg-warning text-primary">{{category.name}}</h1>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} m-2 text-center" dir="ltr" id="msg" role="alert">
                                {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                        {% for post in posts %}
                            <a  class="col-md-9 my-2 btn btn-info" href= "{% url 'post_detail' slug=post.slug %}"> {{post.title}}</a> </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}