{% extends 'base.html' %}
{% block title %}
    {{ request.user }} dashboard
{% endblock title %}
{% block navbarlogs %}
        <a class="btn btn-sm btn-warning" href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> logout</a>
{% endblock navbarlogs %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} m-2 text-center" dir="ltr" id="msg" role="alert">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if posts %}
        <div class="container-fostrap">
                        <div class="container">
                            <div class="row">
                                {% for post in posts %}
                                    <div class="my-2 col-md-9">
                                         <div class="card">
                                                <div class="image">
                                                    <img src= "{{post.image.url}}" >
                                                </div>
                                         <div class="card-body">
                                                <h2 class="card-title text-warning">{{post.title}}</h2>
                                                <p class="card-text text-success"><b>{{post.short_description}}</b></p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'edit_post' slug=post.slug %}" class="table-link">
                                                            <span class="fa-stack">
                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                            </span>
                                                        </a>
                                                        <a href="{% url 'delete_post' slug=post.slug %}" class="table-link danger">
                                                            <span class="fa-stack">
                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                            </span>
                                                        </a>
                                                <a  class="col-md-5 btn btn-primary" href= "{% url 'post_detail' slug=post.slug %}">See more</a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                  <p class="card-text"><small class="text-muted text-danger">{{post.created_at}}</small></p>
                                         </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
    </div>
    {% else %}
        <a class="btn btn-lg btn-warning" href="{% url 'add_post' %}"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Click To Add Your First Post</a>
    {% endif %}
            <a class="btn btn-sm btn-group-justified btn-warning" href="{% url 'add_post' %}"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i>Add New Post</a>
{% endblock content %}
{% block script %}
    setTimeout(function() {
        if ($('#msg').length > 0){
            $('#msg').remove();
        }
    } , 2000)
{% endblock script %}