{% extends 'base.html' %}
{% block title %}
    delete category
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="col-md-19 my-3">
            <form action="{% url 'delete_category' id=category.id %}" method="post">
                {% csrf_token %}
                <p class="alert alert-warning col-md-8">are you sure about deleting <span class="text-danger">{{ category.name }}</span> Category ?</p>
                {{ form.as_p }}
                <input class="btn btn-danger btn-sm col-md-5" type="submit" value="yes">
                <br>
                <p><a href="{%url 'categories_list' %}" class="btn btn-warning btn-sm col-md-2">return categories page</a></p>
            </form>
        </div>
    </div>

{% endblock content %}