{% extends 'base.html' %}
{% block title %}
    delete tag
{% endblock title %}
{% block content %}
    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} m-2 text-center" dir="ltr" id="msg" role="alert">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
        <div class="col-md-9 my-3">
            <form action="{% url 'delete_tag' tag_id=tag.id %}" method="post">
                {% csrf_token %}
                <p class="alert alert-warning col-md-8">are you sure about deleting <span class="text-danger">{{ tag.name }}</span> ?</p>
                {{ form.as_p }}
                <input class="btn btn-danger btn-sm col-md-5" type="submit" value="yes">
                <br>
                <a href="{%url 'tags' %}" class="btn btn-warning btn-sm col-md-2">return to tags page</a>
            </form>
        </div>
    </div>

{% endblock content %}