{% extends 'base.html' %}
{% load static %}
{% block title %}
{{post.title}} comments
{% endblock title %}
{% block content %}
<section class="wrapper">
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2 text-center" dir="ltr" id="msg" role="alert">
        {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <div class="container-fostrap">
        <div>
            </div>
                <div class="content">
                    <div class="container">
                    <h1 class="header bg-primary col-md-12 text-danger">{{post.title}}</h1>
                        <div class="row">
                        {% for comment in comments %}
                            <div class="col-md-7 my-4 ml-5 bg-light">
                            {{comment.comment_text}}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}