{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Posts List
{% endblock title %}
{% block content %}
    {% if posts %}
        <div class="container-fostrap">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} m-2 text-center" dir="ltr" id="msg" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="container">
                    <div class="row">
                        {% for post in posts %}
                            <div class="my-2">
                                <div class="card">
                                    <div class="image">
                                        <img src="{{ post.image.url }}" alt="nothig"
                                             class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h2 class="card-title text-warning">{{ post.title }}</h2>
                                        <p class="card-text text-success"><b>{{ post.short_description }}</b></p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <p><a class="col-md-5 btn btn-primary" href="{% url 'post_detail' slug=post.slug %}">See more</a></p>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <p class="card-text"><small class="text-muted text-danger">{{ post.created_at }}</small></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% else %}
        <a class="btn btn-lg btn-warning" href="{% url 'add_post' %}"><i class="glyphicon glyphicon-plus"
                                                                         aria-hidden="true"></i> Click To Add Your First
            Post</a>
    {% endif %}
{% endblock content %}