{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
{{post.title}} Details
{% endblock title %}
{% block content%}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} m-2 text-center" dir="rtl" id="msg" role="alert">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<section class="wrapper">
    <div class="container-fostrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="image">
                                        <img src= "{{post.image.url}}" class="img-responsive" alt="nothig" class="card-img-top" >
                                    </div>
                                <div class="card-body">
                                    <h2 class="card-title text-warning">{{post.title}}</h2>
                                    <p class="card-text text-success"><b>{{post.short_description}}</b></p>
                                    <p class="card-text"><small class="text-muted text-danger">{{post.created_at}}</small></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 bg-warning my-3">
                                <div>
                                {% with comments|first as comment %}
                                    {{comment.comment_text}}
                                {% endwith %}
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <a href="{% url 'post_comments' slug=post.slug %}" class="col-md-5 btn btn-primary">Show All Comments</a>
                            </div>
                        </div>
                    <br>
                        <div><a class="btn btn-warning" href="{% url 'add_comment' slug=post.slug %}">add comment</a></div>
                    </div>
    </div>
</section>
{% endblock content %}